<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>My Web Page</title>
</head>
<body>
    <h1>Welcome to My Web Page</h1>
    
    <p>This is a sample paragraph.</p>
</body>
</html>

<script>
//so this script needs to a loop, add 10 products at once each time you click 10 more loads, it has to incert the image, title and price for the specific car, and milage year and city.
//reminder add city to the schema
</script>