<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Buy</title>
    <link rel="stylesheet" type="text/css" href="allstyles.css">
    <link rel="stylesheet" type="text/css" href="index.css">
    <link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
    <%- include('navbar.ejs') %>
    
    <section id="buy">
        <div>
            <a href="browse">Buy Now</a>
            <a href="auct">Browse Auctions</a>
        </div>
    </section>
    
    <%- include('footer.ejs') %>
    
    <script src="script.js"></script>
</body>
</html>