<!DOCTYPE html>
<html>
<head>
    <title>My EJS Page</title>
</head>
<body>
    <form method="post" action="/savearticle">
        <!-- Title -->
        <label for="title">Title:</label>
        <input type="text" id="title" name="title"><br><br>

        <!-- Text -->
        <label for="text">Text:</label>
        <input type="text" id="text" name="text"><br><br>

        <!-- Tags -->
        <label for="tags">Tags:</label>
        <input type="text" id="tags" name="tags"><br><br>

        <input type="submit" value="Submit">
    </form>
</body>
</html>
