<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="allstyles.css">
    <link rel="stylesheet" type="text/css" href="index.css">
    <link rel="stylesheet" type="text/css" href="main.css">
    
    <title>Quiccar</title>
</head>
  <body>
<%- include('Navbar') %>
<section>
    <div class="container">
      <div class="options-container">
        <div class="option buy" onclick="window.location.href = 'buy'">
          <div class="overlay-text">Buy</div>
          <img src="https://i.imgur.com/ngbgaHL.png" alt="Buy">
          <div class="overlay">
            <div class="card-text element">
              <h1 class="hm">Buy</h1>
              <p>Find the perfect car for you</p>
            </div>
          </div>
        </div>

        <div class="option sell" onclick="window.location.href = 'sell'">
          <div class="overlay-text">Sell</div>
          <img src="https://i.imgur.com/V8Li4WE.png" alt="Sell">
          <div class="overlay">
            <div class="card-text element">
              <h1 class="hm">Sell</h1>
              <p>Get the best price for your car</p>
            </div>
          </div>
        </div>

        <div class="option community" onclick="window.location.href = 'community'">
          <div class="overlay-text">Community</div>
          <img src="https://myqucckt.s3.ap-south-1.amazonaws.com/priscilla-du-preez-XkKCui44iM0-unsplash.jpg" alt="Community">
          <div class="overlay">
            <div class="card-text element">
              <h1 class="hm">Community</h1>
              <p>Join the Quiccar community</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>     
<%- include('Footer') %>
  </body>  
<!DOCTYPE html>
</html>

<style>
    
    .options-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }

    .option {
      top: 20px;
      position: relative;
      overflow: hidden;
      width: 300px;
      height: 60vh;
      margin: 20px;
      border-radius: 10px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
      transition: all 0.3s ease;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      background-color: #fff;
      cursor: pointer;
    }

    .option:hover {
        transform: scale(1.05);
      box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    }

    .option img {
      width: auto;
      height: 100%;
      overflow: hidden;
    }

    .overlay-text {
      position: absolute;
      bottom: 20px;
      right: 20px;
      color: #fff;
      font-size: 24px;
      font-weight: bold;
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.6);
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;
      transition: opacity 0.3s ease;
    }

    .option:hover .overlay {
      opacity: 1;
    }

    .card-text {
      color: #fff;
    }
  
    @media screen and (max-width: 600px) {
      .element h1{
      position: absolute;
      right: 20px;
      color: #fff;
      font-size: 150px;
      transform: rotate(-90deg);
      font-weight: bold;
      }
      .option{
        height: 40vh;
      }
    }
  </style>

