<link rel="stylesheet" type="text/css" href="navbar.css">
<link rel="stylesheet" type="text/css" href="color.css">
<link rel="stylesheet" type="text/css" href="fonts.css">
<header>
<div class="nav">
  <div>
      <a href="/">Home</a>
      <a href="login">Log in</a>
      <a href="signup-email">Sign in</a>
      <a href="logout">Log Out</a>
    </div>
  </div>
</header>