<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiccars</title>
    <link rel="stylesheet" href="allstyles.css">
    <link rel="stylesheet" type="text/css" href="imagepages.css">
    <link rel="stylesheet" type="text/css" href="products.css">
</head>
<body>
    <%- include('Navbar') %>
    <section>
        <form method="post" action="/submit">
            <!-- Make -->
            <label for="make">Make:</label>
            <input type="text" id="make" name="make"><br><br>

            <!-- Model -->
            <label for="model">Model:</label>
            <input type="text" id="model" name="model"><br><br>

            <!-- Year -->
            <label for="year">Year:</label>
            <input type="text" id="year" name="year"><br><br>

            <!-- Condition -->
            <label for="condition">Condition:</label>
            <select id="condition" name="condition">
                <option value="new">New</option>
                <option value="used">Used</option>
                <option value="refurbished">Refurbished</option>
            </select><br><br>

            <input type="submit" value="Submit">
        </form>
    </section>
</body>
</html>
