<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="allstyles.css">
        <link rel="stylesheet" type="text/css" href="index.css">
        <link rel="stylesheet" type="text/css" href="main.css">
        
        <title>Quiccar</title>
    </head>
<body>
    <%- include('Navbar') %>
    <form method="post" action="/submit">
        <!-- Make -->
        <label for="make">Make:</label>
        <input type="text" id="make" name="make"><br><br>

        <!-- Model -->
        <label for="model">Model:</label>
        <input type="text" id="model" name="model"><br><br>

        <!-- Year -->
        <label for="year">Year:</label>
        <input type="text" id="year" name="year"><br><br>

        <!-- Condition -->
        <label for="condition">Condition:</label>
        <input type="text" id="condition" name="condition"><br><br>

        <input type="submit" value="Submit">
    </form>
</body>
</html>
