/* This file is used to set the color scheme for the website */
:root {
    --color-primary: #112D4E;
    --color-secondary: #3F72AF;
    --color-tertiary: #DBE2EF;
    --color-accent: #F9F7F7;
}

/* @import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap'); */
.loader{
    position: fixed;
    top: 0;
    left:0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #112D4E;
    transition: opacity 0.75s, visibility 0.75s;
    z-index: 1004;
  }
  .loader-hidden{
    opacity: 0;
    visibility: hidden;
  }
  
  .loader::after{
    content: "";
    width: 120px;
    height: 120px;
    border: 15px solid #DBE2EF;
    border-top-color: var(--color-primary);
    border-radius: 50%;
    animation: loading 1.5s ease infinite;
  }
  
  @keyframes loading {
    from{
        transform: rotate(0turn);
    }
    to{
        transform: rotate(3turn);
    }
  }
  .element.no-backdrop-filter-support{
    background-color: #3F72AF;
  }
body {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400; 
}

h1, h2, h3, h4, h5, h6, p, a, span, label, input, button, select, option, textarea {
    font-weight: 400; 
}

.bold {
    font-weight: 700;
}

.light {
    font-weight: 300;
}

.italic {
    font-style: italic;
}
body{
    background-color: var(--color-tertiary);
    scroll-behavior: smooth;
    background-image: radial-gradient(#F9F7F7 4px, transparent 4px);
    background-size: 28px 28px;
    background-color: #DBE2EF;
    }
        
section {
            padding-top: 100px;
    }
        
        @keyframes pumpingEffect {
            0% {
                background-image: radial-gradient(#F9F7F7 2px, transparent 2px);
            }
            50% {
                background-image: radial-gradient(#b3cbe7 1px, transparent 1px);
            }
            100% {
                background-image: radial-gradient(#F9F7F7 2px, transparent 2px);
            }}

        body {
            animation: pumpingEffect 5s infinite;
        }