/* This file is used to set the color scheme for the website */
:root {
    --color-primary: #112D4E;
    --color-secondary: #3F72AF;
    --color-tertiary: #DBE2EF;
    --color-accent: #F9F7F7;
}
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
body {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400; 
}

h1, h2, h3, h4, h5, h6, p, a, span, label, input, button, select, option, textarea {
    font-weight: 400; 
}
.bold {
    font-weight: 700;
}

.light {
    font-weight: 300;
}

.italic {
    font-style: italic;
}
body{
    background-color: var(--color-tertiary);
    scroll-behavior: smooth;
}
section{
    padding-top: 50px;
    padding-bottom: 50px;
}
