
.listing-info h1 {
    margin-top: 0;
}

/* Styling for the vehicle-details section */
.vehicle-details {
    background-color: #eaeaea;
    padding: 10px;
    margin-bottom: 20px;
    max-width: 700px; /* Limiting the width to 700 pixels */
}

/* Styling for the location section */
.location {
    margin-bottom: 20px;
}

/* Styling for the description section */
.description {
    margin-bottom: 20px;
    max-width: 700px;
}

/* Styling for the pricing section */
.pricing {
    background-color: #eaeaea;
    padding: 10px;
    margin-bottom: 20px;
    max-width: 700px;
}

.vehicle-details p {
    display: inline-block;
    margin-right: 20px; /* Adjust as needed for spacing */
}
